<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMIC</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/comic.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand ms-2" href="#">
                
                <img src="/media/img/navbar.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                コミック発売日まとめ
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <div class="collapse navbar-collapse ml50" id="navbarSupportedContent">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">雑誌一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">漫画一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">作者一覧</a>
                </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div> -->
        </div>
    </nav>
    
    <div class="d-flex justify-content-center" id="cont">
        <div class="col-7 d-flex" id="comic">
            <img class="col-6" src="/media/img/image.jpg" alt="">
            <div class="col-6" id="info">
                <h2>{{comic.title}}</h2>
                <h2>{{comic.version}}巻</h2>
                <h3>発売日</h3>
                <h3>{{comic.date}}</h3>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2" id="genre">
            <h5 class="border-bottom border-dark mb-3">雑誌一覧</h5>
            <p class="mb-0"><button class="btns ab_btn">></button>&nbsp;ジャンプ</p>
            <ul class="ps-1 comic_list" type="none">
                {% for comic in comic_list %}
                    {% if comic.published == "ジャンプ" %}
                        <li><a class="comic_title" href="/comic/{{comic.id}}">{{comic.title}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <p class="mb-0"><button class="btns ab_btn">></button>&nbsp;マガジン</p>
            <ul class="ps-1 comic_list" type="none">
                {% for comic in comic_list %}
                    {% if comic.published == "マガジン" %}
                        <li><a class="comic_title" href="/comic/{{comic.id}}">{{comic.title}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <p class="mb-0"><button class="btns ab_btn">></button>&nbsp;サンデー</p>
            <ul class="ps-1 comic_list" type="none">
                {% for comic in comic_list %}
                    {% if comic.published == "サンデー" %}
                        <li><a class="comic_title" href="/comic/{{comic.id}}">{{comic.title}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        ab_btn = document.querySelectorAll('.ab_btn');
        comic_list = document.querySelectorAll('.comic_list');

        ab_btn.forEach(function (btn, i) {
            btn.addEventListener('click', () => {
                if (btn.innerText == ">") {
                    comic_list[i].style.display = "block";
                    btn.innerText = "∨";
                } else {
                    comic_list[i].style.display = "none";
                    btn.innerText = ">";
                }
                
            });
        });
    </script>
</body>
</html>