#cont {
    margin-top: 100px;
}

#genre {
    background-color: #ccc;
    padding: 15px;
}

#info {
    padding: 20px;
}

.btns {
    border: none;
    background-color: transparent;
    padding: 0 0 5px;
}

.comic_title {
    color: black;
    text-decoration: none;
}

.comic_list {
    display: none;
}